<div class="advanced">
	<div class="advanced1">
		 <ul>
		 	<li><a href="#/next"><img ng-src="images/front/arrow.png" alt="camera" ng-click="" id="advancearr"> </a></li>
		 	<li><a href="#/" id='fnext2'>Advanced Settings</a></li>
		 </ul>
	</div>
	<div class="advanced2">
		<table>
			<tr>
				<td>Comments</td>
			</tr>
		</table>
		<table>
			<tr>
				<td>Turn Off Commenting</td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td id='enable1'><label class="switch">
  					<input type="checkbox">
  					<span class="slider round"></span>
					</label>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<td id='advanced11'>
					You can change this later by going to the : 	menu at the top of your post.
				</td>
			</tr>
		</table>
	</div>
</div>