<div class="editprofile">
	<div class="editprofile1">
		<ul>			
			<li><a href="#/profile-square"><img ng-src="images/front/close.jpg" alt="camera" ng-click="" id="edit1"></a></li>
			<li id="edit2">Edit Profile</li>
			<li><a href=""><img ng-src="images/front/tick.jpg" alt="camera" ng-click="" id="edit3"></a></li>
		</ul>
	</div>
	<div class="profiledata">
		<div class="editprofile2">
		<img src="images/stories1/sakthivel.png" alt="hello">
		<a href="">change photo</a>
	</div>
	<div class="editprofile3">
		<label for="" id="lab1">Name</label><br>
		<input type="text"><br><br>
		<label for="" id="lab2">Username</label><br>
		<input type="text"><br><br>
		<label for="" id="lab3">Website</label><br>
		<input type="text"><br><br>
		<label for="" id="lab4">Bio</label><br>
		<input type="text"><br><br>
		<label for="" id="lab5">Try Instagram Business Tools</label><br><br>
		<label for="" id="lab6">Private Information</label><br><br>
		<label for="" id="lab7">Email Address</label><br><br>
		<input type="text"><br><br>
		<label for="" id="lab8">Phone Number</label><br><br>
		<input type="text"><br><br>
	</div>
	<div class="editprofile4">
		
	</div>
	</div>
	
</div>