<div class="next" ng-controller="add">
	<div class="firstnext">
		<ul>
			<li><a href="#/add"><img ng-src="images/front/arrow.png" alt="camera" ng-click="" id='next1'> </a></li>
			<li><a href="" id="next2" >Gallary</a></li>
			<li><a href="#/next1" id='next3' ng-click="storenext1()">Next</a></li>
		</ul>
	</div>
	<div class="secondnext">
		<img ng-src="{{next}}" alt="notshow">
	</div>
	<div class="thirdnext">
		<ul>
			<li><img src="{{next}}" alt=""></li>
			<li><img src="{{next}}" alt=""></li>
			<li><img src="{{next}}" alt=""></li>
			<li><img src="{{next}}" alt=""></li>
			<li><img src="{{next}}" alt=""></li>
			<li><img src="{{next}}" alt=""></li>
			<li><img src="{{next}}" alt=""></li>
			<li><img src="{{next}}" alt=""></li>
			<li><img src="{{next}}" alt=""></li>
		</ul>
		
	</div>
	<div class="fourthnext">
		<ul>
			<li id="next11"><b>FILTER</b></li>
			<li id="next12"><b>EDIT</b></li>
		</ul>
	</div>
</div>