<div class='finalnext' ng-controller="add">
	<div class='finalnext1'> 
		<ul>
			<li><a href="#/next"><img ng-src="images/front/arrow.png" alt="camera" ng-click="" id='fnext1'> </a></li>
			<li><a href="#/" id='fnext2'>Share To</a></li>
			<li><a href="#/profile-square" id='fnext3' ng-click="shareimage()">Share</a></li>
		</ul>
	</div>
	<div class='finalnext2'>
		<table>
			<tr>
				<td>
					<img ng-src="{{next}}" alt="">
				</td>
				<td>
					<input type="text" placeholder="Write Caption..." ng-model='conclusion'>
				</td>
			</tr>
		</table>
	</div>
	<div class='finalnext3'>
		<table>
			<tr>
				<td><a href="">Add Location</a></td>
			</tr>
		</table>
	</div>
	<div class='finalnext4'>
		<table>
			<tr>
				<td><a href="">Tag People</a></td>
			</tr>
		</table>
	</div>
	<div class='finalnext5'>
		<table>
			<tr>
				<td>Share To</td>
			</tr>
		</table>
		<table>
			<tr>
				<td>Facebook</td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td id='enable1'><label class="switch">
  					<input type="checkbox">
  					<span class="slider round"></span>
					</label>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<td>Twitter</td>
				<td>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</td>
				<td id="enable2">
					<label class="switch">
  					<input type="checkbox">
  					<span class="slider round"></span>
					</label>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<td>Tumblr</td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td id='enable1'><label class="switch">
  					<input type="checkbox">
  					<span class="slider round"></span>
					</label>
				</td>
			</tr>
		</table>
	</div>
	<div class='finalnext6'>
		<table>
			<tr>
				<td>
					<a href="#/advanced">Advanced Settings</a>
				</td>
			</tr>
		</table>
	</div>
</div>