<div class="profile-page" ng-controller="add">
	<div class='profile1'>
		<ul>
			<li id="pro1">Sakthivel_pgs</li>
			<li><a href=""><img ng-src="images/front/downarrow.png" alt="camera" ng-click="" id="pro2"></a></li>
			<li><a href=""><img ng-src="images/front/refresh.png" alt="camera" ng-click="" id="pro3"></a></li>
			<li><a href=""><img ng-src="images/front/profileaccount.jpg" alt="instagram" ng-click=""  id="pro4"></a></li>
			<li><a href=""><img ng-src="images/front/vertical.png" alt="direct" ng-click="" id="pro5"></a></li>
		</ul>
	</div>
	<div class='profile2'>
		<div class="pro11">
			<a href=""><img ng-src="images/stories1/sakthivel.png" alt="profileimg"></a>
		</div>
		<div class="profile11">
			<div class="pro22">
				<ul>
					<li>102</li>
					<li>404</li>
					<li>786</li>
				</ul>
			</div><br>
			<div class="pro33">
				<ul>
					<li>posts</li>
					<li>followers</li>
					<li>following</li>
				</ul>
			</div>
			
			<div class="pro44">
				<a href="#/editprofile"><button>Edit your profile</button></a>
			</div>
		</div>
		
	</div>
	<div class="pro55">
					<h4>Sakthivel Govindan</h4>
	</div>
	<div class='profile3'>
		<ul>
			<li><a href="#/profile-square"><img src="images/front/dots.jpg" alt=""></a></li>
			<li><a href="#/profile-list"><img src="images/front/glypicon_list.png" alt=""></a></li>
			<li><a href="#profile-tag"><img src="images/front/agenda_icon.png" alt=""></a></li>
			<li><a href="#/profile-save"><img src="images/front/saved_logo.png" alt=""></a></li>
		</ul>
		
	</div>
	<div class='profile4'>
		<div class="profile-data">
			<table>  
				<tr ng-repeat="global in globalArray | orderBy:'reverse'": ng-switch on='$index % 3'>
				<td ng-switch-when='0'><a href="" target=""><img src="{{globalArray[$index].profile}}" alt="" ></a></td>
				<td ng-switch-when='0'><a href="" target=""><img src="{{globalArray[$index+1].profile}}" alt="" ></a></td>
				<td ng-switch-when='0'><a href="" target=""><img src="{{globalArray[$index+2].profile}}" alt="" ></a></td>			
				</tr>
				
			</table>
		</div>
		
	</div>

</div>