<div class="cv">
	<h1>Hank Quinlan</h1>
</div>

<div class="cvaddress">
	<p>
		Affiliation <br>
Street Addressbr	<br>
City State 12345 <br>
P: (123) 456-7890 <br>
youremailaddress@email.com
	</p>
</div>
<div class="cvnext">
	<h1>Select Publications</h1>
</div>
<div class="cvnext1">
	<p><b>Last Name, F. </b>(204). Title of a Chapter You Wrote for a Book. In I.M Editor (Ed.), The Book I Contributed To (pp. 97-108). City, ST: Publisher Name. Chapter available at: <a href="">http://permalink.</a></p>
</div>
<hr class="divider"> 
	<div class="footer">
		<a href="">email</a>
		<a ng-href="">github.com/SakthivelGovindan</a>
	</div>